@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #0c0c0c;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 600px;
    padding: 20px;
    position: relative;
}

.spotify-player {
    margin-bottom: 20px; 
    padding-top: 120px;
}

.image {
    width: 80%; 
    border-radius: 10px;
}

/* Caixa de texto */
.text-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    border-left: 2px solid #a855f7;
    text-align: justify;
}
